/*--------------------------------------------------------------------
*
* $COLORS
*
--------------------------------------------------------------------*/

//- Blues

$blue-saturated-darker  = #001620
$blue-saturated-dark    = #002531
$blue-saturated         = #003546
$blue-saturated-light   = #1f4753
$blue-saturated-lighter = #438193

$blue         = #3182bd
$blue-light   = #6baed6
$blue-lighter = #bdd7e7

//- Monochromatic

$gray-darker  = #272b2d
$gray-dark    = #4d5659
$gray         = #828c8f
$gray-light   = #b7c0c3
$gray-lighter = #e6eaed

//- Pinks

$pink         = #dd1c77
$pink-light   = lighten($pink, 70%)
$pink-lighter = lighten($pink, 90%)

//- Greens

$green         = #43bb6e
$green-light   = lighten($green, 70%)
$green-lighter = #e8f7ef

//- Reds

$red         = #de2d26
$red-light   = lighten($red, 80%)
$red-lighter = lighten($red, 90%)

//- Orange

$orange         = #f18902
$orange-light   = lighten($orange, 50%)
$orange-lighter = lighten($orange, 85%)
