/*--------------------------------------------------------------------
*
* $VARIABLES
*
--------------------------------------------------------------------*/

//- Whitespace

$space                   ?= 30px
$ui-padding-extra-spaced ?= $space
$ui-padding-spaced       ?= $space/2
$ui-padding-default      ?= $space/3
$ui-padding-narrow       ?= $space/6

//- Font Families
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$font-alegreya   = 'Alegreya', 'Palatino', serif;
$font-lato       = 'Lato', sans-serif;
$font-monospaced = 'Source Code Pro',  monospace

$font-serif   ?= $font-alegreya
$font-sans    ?= $font-lato

//- Font Sizes

$font-base    ?= 15px

$font-large   ?= 1.2rem
$font-medium  ?= $font-base
$font-small   ?= 0.8rem
$font-smaller ?= 0.67rem

//- Heading Sizes

$font-h1 ?= 4rem
$font-h2 ?= 2.1rem
$font-h3 ?= 1.7rem
$font-h4 ?= 1.5rem
$font-h5 ?= 1.5rem
$font-h6 ?= 1.2rem

$mobile-font-h1 ?= 3rem
$mobile-font-h2 ?= 2rem
$mobile-font-h3 ?= 1.5rem
$mobile-font-h4 ?= 1.2rem
$mobile-font-h5 ?= 1.2rem
$mobile-font-h6 ?= 1.1rem

//- Font Weights

$font-weight-light   ?= 300
$font-weight-regular ?= 400
$font-weight-medium  ?= 500
$font-weight-bold    ?= 800

//- Line Heights

$line-height-base    ?= 1.5
$line-height-heading ?= 1.25

//- Borders

$border-radius ?= 3px
$ui-border     ?= 1px solid $gray-lighter

//- Grid

$grid-width-full    ?= 100%
$grid-width-desktop ?= 90%
$grid-width-tablet  ?= 95%
$grid-width-mobile  ?= 99%

//- Responsive breakpoints

$breakpoint-smartphone   ?= 480px
$breakpoint-mid-mobile   ?= 600px
$breakpoint-tablet       ?= 768px
$breakpoint-desktop      ?= 900px
$breakpoint-desktop-wide ?= 1200px
