extends ./base.jade

block content
  .gf-row

    .gf-cell
      h1 Post #1
      p Ball tip flank short loin t-bone, strip steak leberkas brisket shoulder meatloaf doner pancetta cow capicola pig hamburger. Tri-tip venison biltong, capicola pork bacon shankle short ribs spare ribs tongue. Jowl strip steak pork, beef pig pork loin kevin sirloin tri-tip frankfurter swine. Jowl pork beef ribs meatball landjaeger doner ribeye biltong salami pastrami. Landjaeger pork chop jerky, sausage fatback kielbasa turkey tail. Pork belly ham hock pork, biltong hamburger capicola leberkas brisket pork loin andouille shank venison kevin.

    .gf-cell.w25
      nav(role="navigation")
        ul.list-unstyled.side-nav
          li
            a(href="#") Option one
          li
            a(href="#") Option two

