doctype html
html
  head
    meta(charset='utf-8')
    title Page title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    link(href='../css/main.css', rel='stylesheet')

  body
    section.sect_imgbg
      .container
        h1 Welcome to this place
        h2 This is going to be very nice

    section.sect_light
      .container
        p. 
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur.

    section.sect_darkbg
      .container
        h1 Welcome to this place
        h2 This is going to be very nice

    section.sect_light
      .container
        .gf-row
          .gf-cell
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.

          .gf-cell
            img(src='http://placehold.it/300x300?text=300x300', class='avatar avatar-large avatar-radius')

    section
      .container
        nav(role='navigation')
          button(class='btn btn-large btn-approve') Go
          button(class='btn btn-large btn-warn') No go

    footer(role='contentinfo')
      .container
        nav(role='navigation')
          ul.list-unstyled.list-inline
            li: a(href='https://github.com/andyet/yeticss') Github
            li: a(href='https://github.com/andyet/yeticss/releases') Releases
            li: a(href='https://github.com/andyet/yeticss/blob/gh-pages/CONTRIBUTING.md') Contributing
